@import "./variables.scss";

.container {
    background-image: linear-gradient(-90deg, #4CA1AF, #C4E0E5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-radius: 5px;
    padding: 60px 0;

    @media (min-width: $sm) {
        max-width: auto;
    }

    @media (min-width: $md) {
        max-width: 720px;
    }

    @media (min-width: $lg) {
        max-width: 992px;
    }

    @media (min-width: $xl) {
        max-width: 1140px;
    }

    &__intro {
        text-align: center;
    }
}