.footer {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-image: linear-gradient(90deg, #e96443, #904e95);
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
}