.result {
    text-align: center;
    font-weight: 600;
    &__text {
        font-size: 50px;
    }

    &__score {
        font-size: 100px;
    }

    &__action {
        display: flex;
        justify-content: space-around;
    }
}