.util {
    &__btn {
        background: linear-gradient(90deg, $orange_grad, $violet_grad);
        padding: 10px 50px;
        border-radius: 30px;
        color: #f0dbd3;
        font-size: 20px;
        font-weight: 600;
        box-shadow: 2px 2px 10px #3d3d3d;
        text-decoration: none;
    }

    &--grey {
        color: #3d3d3d;
    }

    &--correct {
        background-color: rgba(255, 255, 255, 0.3);
        border: 3px solid #1e5632;
        border-radius: 30px;
        padding-right: 10px;
    }

    &--wrong {
        border: 3px solid #9c1122;
        border-radius: 30px;
        padding-right: 10px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}